@page
@model IdentityDemos.WebClient.Pages.ClientCredsJwtSecretModel
@{
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <p>
        <button type="submit" class="btn btn-primary">Get Token with JWT Secret</button>
    </p>
</form>

<h5>Claims:</h5>
<pre>@ViewData["Claims"]</pre>

<h5>Token Response:</h5>
<pre>@ViewData["TokenResponse"]</pre>
