@page
@model IdentityServer.Pages.Home.Index

<div class="px-4 pt-5 text-center">
    <img class="d-block mx-auto mb-4 w-25" src="~/img/duende-logo-full.svg" alt="Duende Logo">
    <h1 class="display-5 fw-bold text-brand">Welcome To Duende IdentityServer</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Meet Duende IdentityServer. A secure, flexible, and standards-compliant framework for OpenID Connect and OAuth
            2.0.<br />
            Use it as-is, or with full control of your UI, UX, business logic, and data. You decide.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" class="btn btn-brand btn-lg px-4 gap-3" href="https://duendesoftware.com/" target="_blank">
                <i class="bi bi-award"></i>
                Get a License
            </a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="https://docs.duendesoftware.com/" target="_blank">
                <i class="bi bi-book"></i>
                Learn More
            </a>
        </div>
    </div>
</div>
